@charset "UTF-8";

/* estilo para telas */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(158, 158, 158);
}

header h1 {
    text-align: center;
}

menu ul {
    list-style: none;
    background-color: gray;
}

menu li {
    background-color: rgb(75, 75, 75);
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    display: block;
    width: 600px;
    margin:  30px auto;
}